:root {
  --primary: #0F52BA;
  --bg-primary: #F9F9F9;

  --link: #2a0b0b;
}

.App {
  background-color: var(--bg-primary);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nav {
  height: 54px;
  width: 100%;
  background-color: var(--primary);
}